html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



#main_frame {
  display: block;
  margin: 10px;
}

.all_cars{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.car_card {
  display: inline-flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  margin-right: 20px;
  margin-top: 20px;
  border: 2px cyan solid;
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
}
.car_img {
  display: inline-block;
  border-radius: 15px;
  height: 400px;
  width: 400px;
}
.car_text {
  margin: 0 20px;
}
.car_btn{
  width: 400px;
  height: 30px;
}
.top_text {
  font-size: 30px;
}

.btn_text {
  font-size: 20px;
  color: white;
}
.nav_wrap{
  display: flex;
  justify-content: flex-end;
}

.nav_menu{
  display: flex;
  flex-direction: row;
}
.nav_item{
  margin-right: 30px;
}
.nav_text{
  font-size: 30px;
}

  .basket{
    cursor: pointer;
  }

.basket:hover, .basket_active{
  cursor: pointer;
  color: cyan;
}

.mini_goods{
  position: absolute;
  background: white;
  border: 2px cyan solid;
  right: 16%;
  height: 200px;
  width: 300px;
  border-radius: 15px;
}
.mini_text{
  display: block;
  margin-left: 10px;
}